.container{
height: 100%;
width: 100%;
padding: 2rem;
border-left: 1px solid rgba(128, 128, 128, 0.211);
display: flex;
flex-direction: column;
justify-content: space-around;
}

.header{
display: flex;
align-items: center;
justify-content: start;
gap:2rem;
/* border-bottom:1px solid rgba(128, 128, 128, 0.211); */
}
.Pic{
height: 8rem;
width:  8rem;
border-radius: 50%;
background-color: red;
}

button{
padding: 0.5rem 1rem;
background-color: gray;
color:white;
}
button:hover{
background-color: rgba(128, 128, 128, 0.591);

} 

input{
color: gray;
}

input:focus{
outline: none;
}

.personalInfo{
padding: 2rem;
border: 1px solid rgba(128, 128, 128, 0.211);
border-radius: 2rem;
}
.personalInfoHeader{
display: flex ;
align-items: center;
justify-content: space-between;
margin-bottom: 2rem;
}
.btnCont{
display: flex;
align-items: center;
gap: 2rem;
}
.Info{
display: flex;
align-items: center;
justify-content: space-evenly;
}

.password{
display: flex;
align-items: center;
justify-content: space-between;
border: 1px solid rgba(128, 128, 128, 0.211);
padding: 2rem;
border-radius: 1rem;
}