
.scrollSection{
height:32rem;
width:85%;
background-color: #fff;
padding:1rem;
display:flex;
align-items: center;
gap:1rem;
overflow-x: auto;
}
.scrollSection::-webkit-scrollbar{
          display:none;
}
.movieContainer{
  flex: 0 0 calc((100% - 3rem) / 4); /* 3rem = 3 gaps of 1rem each */
height:100%;
/* background-color: blue; */
display:flex;
flex-direction: column;
align-items: center;
gap:0.5rem;

}
.poster{
height:90%;
width:100%;
border-radius: 10px;
overflow: hidden;
}
.poster img {
width:100%;
height:100%;
object-fit: cover;
overflow: hidden;
/* background-color: black; */
}

.description{
height:5%;
width:100%;
/* background-color: black; */
}
.description h3{
  font-size: 1em;
  color:var(--bold-text-color)
}

.description span {
  font-size: 0.8em;
  color:var(--light-text-color)
}