.container{
height: auto;
width: 35rem; 
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 2rem;
border:1px solid black;
border-radius: 12px;
padding: 2rem;
/* background-color: red; */
}

.top{
display: flex;
align-items: center;
justify-content: space-between;
}

.userInfo{
display: flex;
align-items: center;
gap:1rem;
}
.rating{
display: flex;
align-items: center;
gap:0.5rem;
}

.bottom{
display:flex;
align-items: center;
justify-content: space-between;
}

.btn{
display: flex;
align-items: center;
gap:2rem;
}

.btn div{
display: flex;
align-items: center;
gap:0.5rem;
color:gray;
cursor: pointer;

}

.userIcon{
font-size: 3rem;
color:gray
}
.star{
font-size: 1.5rem;
color: gold;
}
.active {
  color: #1d4ed8; /* blue */
}