.container{

color: black;
display:flex;
flex-direction: column;
justify-content: space-between;
/* background-color: red; */

}

.poster{
position: relative;
width: 100%;
min-height: 27rem;
display: flex;
align-items: center;
gap:2rem;
color: white;


background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0,0,0,0.9) 20%,
    rgba(0,0,0,0.6) 50%,
    rgba(0,0,0,0.2) 100%
  );
  z-index: 1;
}

.card{
height: 25rem;
width: 18rem;
border:2px solid black;
z-index: 2;
flex-shrink: 0;
overflow: hidden;
border-radius: 12px;
margin-left: 5rem;
}
.card img{
height: 100%;
width: 100%;
object-fit: cover;
object-position: center;
}

.info{
z-index: 2;
display: flex;
flex-direction: column;
gap: 1rem;
}


.bookButton{
padding: 0.8rem 1.5rem;
background-color: #dc354b;
border: none;
border-radius: 0.5rem;
color: white;
font-size: 1rem;
font-weight: 400;
margin-top: 2rem;
cursor: pointer;
}

.description{
padding: 2rem 5rem;
}

.description p{
text-align: justify;
width: 70%;
}

.wrapper{
display: flex;
flex:1;
align-items: center;
gap:2rem;
padding: 2rem;
width: 90%;
overflow-x: auto;
}
.wrapper::-webkit-scrollbar {
display: none;
}
.reviews{
padding: 2rem 5rem;

}